.container {
    width: 400px;
    min-height: 400px;
    margin-left: 60px;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: aquamarine;
    margin-top: 20px;
    padding: 10px;
    border: black 2px solid;
}

.title {
    margin-bottom: 30px;
}